@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
:root{
    --fonte_principal: "Playfair Display", serif;
    --fonte_secundaria: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --cor_primaria: #1a2a3a;
    --cor_destaque:#d4af37;
    --cor_destaque2: #ffb703;
    --cor_secundaria: #faffbc;
    --cor_terciaria: #e0deee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor_primaria);
}
header{
    display: flex;
    flex-direction: column ;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;
}
header h1{
    font-family: var(--fonte_principal);
    color: var(--cor_destaque);
    font-size: 35px;
}
header nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center ;
    gap: 20px;
}
header nav a{
    font-family:var(--fonte_secundaria);
    color: var(--cor_secundaria);
    margin-top:10px;
    text-decoration: none;
}
header nav span{
    color: var(--cor_secundaria);
}